.footerColor {
  padding-top: 5em;
  background-color: #2f9adc !important;
  padding-bottom: 10em;
}

.space {
  padding-top: 8em;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
}

.footerBottom {
  border-radius: 0% !important;
  padding-top: 4em;
  background-color: #006bf3 !important;
}

.icons {
  color: white;
}


.firstTitle {
    font-weight: bolder!important;
    color: white;
    font-size: 30px!important;
}


.subtitleOne {
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: white!important;
}